/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jun 25, 2014, 3:47:37 PM
    Author     : Sakit
*/
#add{
    -fx-background-image:url("../images/teacher_add.png");
    -fx-background-repeat:no-repeat;
    -fx-background-position:left;
}

#edit{
    -fx-background-image:url("../images/teacher_edit.png");
    -fx-background-repeat:no-repeat;
    -fx-background-position:left;
}

#delete{
    -fx-background-image:url("../images/teacher_delete.png");
    -fx-background-repeat:no-repeat;
    -fx-background-position:left;
}