/**
 * Department of Computer Engineering, Eastern Mediterranean University.
 * @link http://cmpe.emu.edu.tr
 * 
 * @author Sakit Atakishiyev, Std. ID: 117319
 * @version 1.0.0.1
 */
/* 
    Created on : Jun 22, 2014, 6:32:28 PM
    Author     : Sakit
*/

.root{
    -fx-background-image:url("../images/background.jpg");
}

#day_slot{
    -fx-font-size:14px;
    -fx-font-family:"Arial";
    -fx-font-weight:bold;
}

.button{
    -fx-padding: 7 30 7 30;
    -fx-font-size:14px;
    -fx-font-weight:bold;
}

.check-box .box{
    -fx-padding:0.5em;
}
.check-box .text{
    -fx-font-size:14px;
}

#combo .list-cell .text{
    -fx-font-size:14px;
}
#combo .list-cell{
    -fx-cell-size:2em;
}